.gameboard{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.square{
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
